<div>
  <h3><%= @books.name %></h3>
  <%= image_tag @books.get_profile_image(100,100) %>
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) ></p>
</div>


<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
    <%= image_tag post_image.get_image %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>Title：<%= book.title %></p>
  <p>説明：<%= book.option %></p>
  <p>ユーザーネーム：<%= book.user.name %></p>
</div>
<% end %>