<%= form_for(book) do |f| %>

  <div class="form-group">
    <%= f.label :Title %><br>
    <%= f.text_field :title, class: "col-xs-12" %>
  </div>

  <div class="form-group">
  	<%= f.label :Opinion %><br>
    <%= f.text_area :body, class: "col-xs-12" %>
  </div>

  <div class="form-group">
    <%= f.submit "Create Book", class: "btn btn-primary col-xs-12" %>
  </div>
<% end %>