<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>books</h1>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
      <tr>
        <td>
          <%= link_to user_path(book.user.id) do %>
          <%= image_tag book.user.get_profile_image(100,100) %>
          <% end %>
        </td>
        <td>
          <%= link_to book_path(book.id) do %>
          <%= book.title %>
          <% end %>
        </td>
        <td><%= book.body %></td>
      </tr>
      <% end %>
    </tbody>
  </table>



<h1>New book</h1>
  <%= form_with model: @book, url: "/books", method: :post do |f| %>
    <label>Title</label></br>
      <%= f.text_field :title %></br>
    <label>Opinion</label></br>
      <%= f.text_area :body %></br>
    <%= f.submit "Create Book" %></br>
  <% end %>