<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/a9c3784845.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

   <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">

        <nav class="nav navbar-left">
          <a class="navbar-brand p-3" href="/">
            <span>Bookers</span>
          </a>
        </nav>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">

            <% if user_signed_in? %>

              <li class="nav-item">
                <i class="fas fa-home" aria-hidden="true"></i>
                <%= link_to "Home", root_path, class: "nav-link text-dark" %>
              </li>

              <li class="nav-item">
                <i class="fas fa-users" aria-hidden="true"></i>
                <%= link_to "Users", users_path, class:"nav-link text-dark" %>
              </li>

              <li class="nav-item">
                <i class="fas fa-book-open" aria-hidden="true"></i>
                <%= link_to "Books", books_path, class:"nav-link text-dark" %>
              </li>

              <li class="nav-item">
                <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"nav-link text-dark" %>
              </li>

            <% else %>

              <li class="nav-item">
                <i class="fas fa-home" aria-hidden="true"></i>
                <%= link_to "Home", root_path, class:"nav-link text-dark" %>
              </li>

              <li class="nav-item">
                <i class="fas fa-link" aria-hidden="true"></i>
                <%= link_to "About", about_path, class:"nav-link text-dark" %>
              </li>

              <li class="nav-item">
                <i class="fas fa-user-plus" aria-hidden="true"></i>
                <%= link_to "Sign up", new_user_registration_path, class:"nav-link text-dark" %>
              </li>

              <li class="nav-item">
                <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
                <%= link_to "Log in", new_user_session_path, class:"nav-link text-dark" %>
                </i>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <div class="container px-5 px-sm-0">
        <div class="row">
        </div>
      </div>
    </main>

    <div class="body">
      <p class="notice"><%= notice %></p>
      <%= yield %>
        <footer>
          <div class="container mt-5">
            <div class="row">
              <div class="mx-auto">
                <p>CopyRight Infratop.inc</p>
              </div>
            </div>
           </div>
        </footer>
      </div>
    </div>
  </body>
</html>