<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h3>
        <%= link_to "Bookers", root_path %>
      </h3>
      <% if user_signed_in? %>
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "Users", new_book_path %>
      </li>
      <li>
        <%= link_to "Books", user_path(current_user.id) %>
      </li>
      <li>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "About", about_path %>
      </li>
      <li>
        <%= link_to "Sign up", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "Log in", new_user_session_path %>
      </li>
    <% end %>
    </header>
    <main>
    <%= yield %>
    </main>
  </body>
  <footer>CopyRight Infratop.inc</footer>
</html>