<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/a9c3784845.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

   <body class="d-flex flex-column vh-100">
    <header class="shadow-sm bg-dark">
      <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">

        <nav class="nav navbar-left">
          <a class="navbar-brand" href="/">
            <span class="text-white">Bookers</span>
          </a>
        </nav>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">

            <% if user_signed_in? %>

              <li class="nav-link text-light">
                <%= link_to user_path(current_user), class:"nav-link" do %>
                <p><i class="fas fa-home" style="color:white;" aria-hidden="true"></i>
                <span class="text-white">Home</span>
                <P>
                <% end %>
              </li>

              <li class="nav-link text-light">
                <%= link_to users_path, class:"nav-link" do %>
                <p><i class="fas fa-users" style="color:white;" aria-hidden="true"></i>
                <span class="text-white">Users</span>
                </p>
                <% end %>
              </li>

              <li class="nav-link text-light">
                <%= link_to books_path, class:"nav-link" do %>
                <p><i class="fas fa-book-open" style="color:white;" aria-hidden="true"></i>
                <span class="text-white">Books</span>
                </p>
                <% end %>
              </li>

              <li class="nav-link text-light">
                <%= link_to destroy_user_session_path, method: :delete, class:"nav-link" do %>
                <p><i class="fas fa-sign-out-alt" style="color:white;" aria-hidden="true"></i>
                <span class="text-white">Log out</span>
                </p>
                <% end %>
              </li>

            <% else %>

              <li class="nav-litem">
                <%= link_to root_path, class:"nav-link" do %>
                <p><i class="fas fa-home" style="color:white;" aria-hidden="true"></i>
                <span class="text-white">Home</span>
                </p>
                <% end %>
              </li>

              <li class="nav-litem">
                <%= link_to about_path, class:"nav-link" do %>
                <p><i class="fas fa-link" style="color:white;" aria-hidden="true"></i>
                <span class="text-white">About</span>
                </p>
                <% end %>
              </li>

              <li class="nav-link text-light">
                <%= link_to new_user_registration_path, class:"nav-link" do %>
                <p><i class="fas fa-user-plus" style="color:white;" aria-hidden="true"></i>
                <span class="text-white">Sign up</span>
                </p>
                <% end %>
              </li>

              <li class="nav-link text-light">
                <%= link_to new_user_session_path, class:"nav-link" do %>
                <p><i class="fas fa-sign-in-alt" style="color:white;" aria-hidden="true"></i>
                <span class="text-white"> Log in</span>
                </p>
                <% end %>
              </li>

            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <%= flash[:notice] if flash[:notice] %>
      <%= yield %>
    </main>

    <div class="body">

        <footer>
          <div class="container mt-5">
            <div class="row">
              <div class="mx-auto">
                <p>CopyRight Infratop.inc</p>
              </div>
            </div>
           </div>
        </footer>
      </div>
    </div>

  </body>
</html>